<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bruce.android.knowledge"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.bruce.android.knowledge.MY_SERVICE_PERMISSION"/>
    <uses-permission android:name="com.bruce.android.knowledge.TEST_AIDL_SERVICE_PERMISSION"/>

    <application
        android:name="com.bruce.android.knowledge.base.KnowApplication"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/app_theme">
        <activity
            android:name="com.bruce.android.knowledge.DeskTopActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bruce.android.knowledge.activities.TestShaderActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.CanvasActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestCustomViewGroupActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestFlowLayoutActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TextViewLinkActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestRotationTextViewActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestTransformMatrixActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestSingleTouchActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestCosAnimationActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestSlideViewPagerActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestCircleMenuActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestMultiImageViewActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.InternetVideoActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestLineViewActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestClipActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.TestImageViewActivity"/>
        <activity android:name="com.bruce.android.knowledge.custom_view.scanAnimation.ParabolaAnimationActivity"/>
        <activity android:name="com.bruce.android.knowledge.custom_view.scanAnimation.ScanAnimationActivity"/>
        <activity android:name="com.bruce.android.knowledge.custom_view.tween_animation.TestTweenAnimationActivity"/>
        <activity android:name="com.bruce.android.knowledge.custom_view.pinnedHeaderListView.TestPinnedHeaderListViewActivity"/>
        <activity android:name="com.bruce.android.knowledge.services.ServiceTestActivity"/>
        <activity android:name="com.bruce.android.knowledge.net.demo.TestHttpActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.TestProcessActivity"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process1Activity"
            android:process=":process_1"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process2Activity"
                  android:process=":process_2"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process3Activity"
                  android:process=":process_3"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process4Activity"
                  android:process=":process_4"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process5Activity"
                  android:process=":process_5"/>
        <activity android:name="com.bruce.android.knowledge.activities.processTest.Process6Activity"
                  android:process=":process_6"/>
        <activity android:name=".fragments.webview_ex.WebViewExActivity"/>
        <activity android:name=".test.aidl.TestAidlActivity"/>
        <activity android:name=".activities.TestCoordinatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <service android:name="com.bruce.android.knowledge.services.MyService"
                 android:permission="com.bruce.android.knowledge.MY_SERVICE_PERMISSION">
            <intent-filter>
                <action android:name="com.test.SERVICE_TEST"/>
            </intent-filter>
        </service>

        <service android:name=".test.aidl.TestAidlService"
                 android:exported="true"
        android:permission="com.bruce.android.knowledge.TEST_AIDL_SERVICE_PERMISSION"
        android:process="com.bruce.android.knowledge.test_aidl"
                >
            <intent-filter>
                <action android:name="com.bruce.android.knowledge.TEST_AIDL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>
</manifest>
